<template>

  <div v-bind:class="activateModal">

    <div class="modal-backdrop">
      <div class="modal">


        <header class="modal-header">
          <slot name="header">
            Person information

            <button type="button" class="btn-x" @click="hideModal">x</button>
          </slot>
        </header>


        <section class="modal-body">
          <slot name="body">
            <img v-bind:src="this.contactData.pictureSrc"/>
            <p class="main-name">{{this.contactData.name}}</p>
            <p class="main-phone">
              {{this.contactData.phone ? this.contactData.phone[0].value : "no phone"}}
            </p>

            <hr/>

            <span class="detail-title">Email</span>
            <span class="detail-text">{{this.contactData.email ? this.contactData.email[0].value : "no email"}}</span>
            <br/>

            <span class="detail-title">Organization</span>
            <span class="detail-text">{{this.contactData.org_name || "-no organisation"}}</span>
            <br/>

            <span class="detail-title">Assistant</span>
            <span class="detail-text">{{this.contactData.assistant || "no assistant"}}</span>
            <br/>

            <span class="detail-title">Groups</span>
            <span class="detail-text">{{this.contactData.group || "no group"}}</span>
            <br/>

            <span class="detail-title">Location</span>
            <span
              class="detail-text">{{ this.contactData.org_id ? this.contactData.org_id.address : "no address"}}</span>
            <br/>


          </slot>
        </section>


        <footer class="modal-footer">
          <slot name="footer">
            <button type="button" class="btn-close" @click="hideModal">Back</button>
          </slot>
        </footer>


      </div>
    </div>

  </div>

</template>


<script>
  import {EventEmitter} from '../core/eventEmitter'

  export default {
    name: 'detailsModal',
    data() {
      return {
        contactData: {},
        activateModal: 'is-inactive',
      }
    },

    methods: {
      showModal: function (contactData) {
        this.contactData = contactData;
        this.activateModal = 'is-active';
      },

      hideModal: function () {
        this.activateModal = 'is-inactive';
      }
    },

    computed: {},

    mounted() {
      EventEmitter.$on('contactClicked', contactData => {
        this.showModal(contactData);
      });
    },

  }
</script>


<style scoped>

  .is-active {
    display: block;

  }

  .is-inactive {
    display: none;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 15px 5px gray;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 25em;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
    background-color: #F7F7F7;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #2B2B2B;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
    margin-top: 40px;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
    margin: auto;
    text-align: center;
  }

  .btn-x {
    border: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    color: gray;
    background: transparent;
  }

  .btn-close {
    color: #3D3F40;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
  }

  .modal-body img {
    border-radius: 50%;
  }

  .main-name {
    margin-bottom: -15px;
  }

  .main-phone {
    color: #73D981;
  }

  .detail-title {
    font-size: 12px;
    color: #747474;

    position: absolute;
    left: 35%;
    direction: rtl;
    width: 0;
    white-space: nowrap;
    border: none;
  }

  .detail-text {
    font-size: 11px;
    color: #BBBBBB;
    display: inline;
    position: absolute;
    left: 37%;
  }

  hr {
    width: 370px;
    margin: 20px 1px;
  }

</style>
