<template>

  <div class="container">

    <div class="holder">

      <ul>
        <li class="contact" v-for="(user, index) in users" :key='index' v-on:click="showDetails"
            v-bind:accessKey="index">

          <p id="li_name">{{user.name}}</p>

          <img src="../assets/org.svg"/>
          <span id="li_org">{{user.org_name}}</span>

          <div class="profilePic">
            <img v-bind:src="user.pictureSrc"/>
          </div>

        </li>
      </ul>

    </div>

  </div>

</template>


<script>
  import pdComm from '../controllers/pdCommunicator'
  import {EventEmitter} from "../core/eventEmitter";

  export default {
    name: 'users',
    data() {
      return {
        newUser: {},
        users: [],
      }
    },

    methods: {
      addUser: function (e) {
        this.users.push({
          name: this.newUser.name,
          email: this.newUser.email,
        });
      },

      deleteUser: function (user) {
        this.users.splice(this.users.indexOf(user), 1);
      },

      showDetails: function (e) {
        const contact = this.users[e.target.accessKey];
        EventEmitter.$emit('contactClicked', contact);
      }
    },

    created: async function () {
      pdComm.init(this);

      this.users = await pdComm.getUsers(); // get the list of my pipedrive account users
    }
  }
</script>


<style scoped>

  .holder {
    background: #fff;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul li {
    padding: 5px;
    font-size: .65em;
    border: 2px solid #E4E4E4;
    margin-top: 5px;
    color: #3E5252;
  }

  li img {
    pointer-events: none;
    height: 12px;
    margin-left: 10px;
  }

  #li_name {
    pointer-events: none;
    margin: 3px 9px 1px;
  }

  #li_org {
    pointer-events: none;
    font-size: .9em;
    color: gray;
  }

  .profilePic img {
    pointer-events: none;
    height: 35px;

    margin-right: 10px;
    border-radius: 50%;
    float: right;
    margin-top: -34px;
  }

</style>
