<template>
  <div id="app">

    <div class="header">
      <span class="helper"></span><img src="./assets/logo.svg">
    </div>

    <div class="title">
      <p>People's list</p>
    </div>

    <hr/>

    <Users id="users"/>

    <details-modal/>

  </div>
</template>


<script>
  import Users from './components/users'
  import DetailsModal from "./modals/detailsModal";

  export default {
    name: 'app',
    components: {
      DetailsModal,
      Users,
    },
  }
</script>


<style>

  @import url('https://fonts.googleapis.com/css?family=Open+Sans');

  body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: start;
  }

  body, html {
    margin: 0;
    height: 100%;
  }

  #app {
    width: 100%;
  }

  #users {
    width: 95%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .header {
    width: 100%;
    height: 50px;
    background-color: #2B2B2B;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .header img {
    position: relative;
    left: 2.5%;
    height: 23px;
    vertical-align: middle;
  }

  .title {
    width: 100%;
    height: 50px;
    color: #2B2B2B;
  }

  .title p {
    position: absolute;
    left: 2.5%;
    font-weight: bold;
  }

  hr {
    border-color: #E4E4E4;
    margin: 0;
    border-top: 1px solid #E4E4E4;
  }

</style>
